{% extends "base.html" %}

{% block content %}
    <data_list >
    <h1>All Invoices</h1>
        {% for invoice in invoices %}
         <div class="tablelines">
          <div class="invoiceline">
              <div class="patient"><b>{{ invoice.patient.patient}}</b></div>
              <div class="drs"><label>Dottores</label> <br/><b>{{ invoice.comment or '' }} </b></div>
              <div class="amount"><label>Amount</label><br/> <b>{{ invoice.amount }} €</b></div>
              <div class="invoicedate"><label>Invoice Date</label><br/> <b>{{ invoice.invoice_date}} </b></div>
              <div class="duedate"> <label>Due</label><br/> <b>{{ invoice.due_date or '-'}}</b></div>
              <div class="sent"><label>Sent:</label>  <br />  <b> {% if invoice.sent_to_pkv==True %} <input type="checkbox" checked="checked"> =>{{ invoice.sent_at.strftime(date_format) }} {% endif %} {% if not invoice.sent_to_pkv%} <input type="checkbox" >{% endif %} </b></div>
              <div class="paid"><label>Paid:</label><br /><b> {% if invoice.paid==True %} <input type="checkbox" checked="checked"> =>{{ invoice.paid_at.strftime(date_format) }} {% endif %} {% if not invoice.paid %} <input type="checkbox" >{% endif %} </b></div>
              <div class="repaid"><label>Repaid:</label><br /><b> {% if invoice.repaid==True %} <input type="checkbox" checked="checked"> =>{{ invoice.repaid_at.strftime(date_format) }} {% endif %} {% if not invoice.repaid %} <input type="checkbox" >{% endif %} </b></div>
          </div>
         </div>
    {% endfor %}
 </data_list>
    <formdiv>
        <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.patient.label }}<br>
            {{ form.patient(size=1) }}<br>
            {% for error in form.patient.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
         <p>
            {{ form.amount.label }}<br>
            {{ form.amount(size=32) }}<br>
            {% for error in form.amount.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.drs.label }}<br>
            {{ form.drs(size=32) }}<br>
            {% for error in form.drs.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
            <p>
            {{ form.invoice_date.label }}<br>
            {{ form.invoice_date(size=10) }}<br>
            {% for error in form.invoice_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
                <p>
            {{ form.due_date.label }}<br>
            {{ form.due_date(size=10) }}<br>
            {% for error in form.due_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
         <p>
            {{ form.sent.label }}<br>
            {{ form.sent }}<br>
            {{ form.paid.label }}<br>
            {{ form.paid }}<br>
            {{ form.repaid.label }}<br>
            {{ form.repaid }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </formdiv>

{% endblock %}